/* Google fonts-Lato,Oswald import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

/*General styles */
body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /*Generic project style*/
        color: #3a3a3a;
        /* Add 'Lato'font family to body styles*/
        font-family:'Lato',sans-serif;

}

/* Header*/
header {
        background-color: lightcoral;
}

/*Set logo to Oswald font family*/
#logo {
        font-family:'Oswald',sans-serif;
}

/* Main */
main {
        background-color: lightblue;
        /* Make main to take up any surplus to push down the footer*/
        flex: 1 0 auto;
}

ul {
       list-style-type:none
}

/* Footer */
footer {
        background-color: orange;
}