/* Google fonts-Lato,Oswald import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

/*General styles */
body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /*Generic project style*/
        color: #3a3a3a;
        /* Add 'Lato'font family to body styles*/
        font-family: 'Lato', sans-serif;

}

/* Header---------------------start*/
header {
        background-color: #ffffff;
        padding: 0 1em;
        position: fixed;
        width: 100%;
        z-index: 99;
        box-shadow: 0 2px 2px #3a3a3a;
        display: flex;
        justify-content: flex-start;
        align-items: baseline
}

/**header the first line words*/
header a {
        text-decoration: none;
        color: inherit;

}

/*Set logo to Oswald font family*/
#logo {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #252525;
}

/**input in header*/
/*nav-toggle*/
#nav-toggle:checked~nav {
        display: block;
}

#nav-toggle {
        display: none;
}

.nav-toggle-label {
        font-size: 2em;

}

/**nav bar in header*/
/* styling nav bar to scoll*/
nav {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        padding: 0 1em;
        box-shadow: 0 2px 2px #3a3a3a;
        left: 0;
        display: none;
        top: 100%;

}


#menu {
        list-style-type: none;
        letter-spacing: 4px;
        font-size: 110%;
}

#menu>li {
        margin-bottom: 1em;
}

.active {
        border-bottom: 1px solid #353535;
}



/* Main =================start*/
main {
        background-color: lightblue;
        /* Make main to take up any surplus to push down the footer*/
        flex: 1 0 auto;
        margin-top: 47px;
}




/* Footer---------------start */
footer {
        background-color: orange;
}

/*******Media query:tablets and larger(768px and up)*/
@media screen and (min-width:768px) {

        header {
                justify-content: space-between;
        }

        /**header the first line words*/

        #logo {
                font-size: 280%;
                line-height: 75px;
                margin: 0 0.5rem;
        }

}

/**input in header*/
/*nav-toggle*/


.nav-toggle-label {

        display: none;

}

/**nav bar in header*/

nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 0.5rem;
        box-shadow: none;
        border-left: none;

}

/*ul class :change to row*/
#menu {

        display: flex;

}

#menu>li {

        padding-left: 1.5rem; /* Get space for three lists*/
}



/* Main =================start*/
main {
      
        margin-top: 79px;
}



}